header {
  margin-bottom: 25px;
}
.vizualiser {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.vizualiser_frame {
  position: relative;
  margin: 0 auto;
  width: 900px;
  height: 400px;
}

.vizualiser > h3 {
  margin: 0 auto;
  position: relative;
  margin-top: 25px;
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid darkslategrey;
  background-color: gainsboro;
  justify-self: center;
}

.vizualiser > h3:hover {
  cursor: pointer;
  background-color: lightgray;
}

.interface {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;

  position: relative;
  margin: 0 auto;
  width: 900px;
  margin-bottom: 25px;
}

.interface > div {
  padding: 25px;
  border: 1px solid grey;
  border-radius: 10px;
  height: 150px;
}

.interface_color {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
}

.interface_color > input:first-of-type {
  width: 100%;
  height: 100%;
}

.interface_angle {
  display: flex;
  flex-direction: column;
}
